<header>
    <img id="logo" src="images/muid-logo.png" alt="">
    <div id="notice">
        <h1>{{notice.title}}</h1>
        <p>
            {{notice.message}}
        </p>
    </div>
    <img class="slide" src="images/poster.jpg" alt="">
</header>
<main>
    {{outlet}}
</main>